.container {
  min-height: 100vh;
  position: relative;
  z-index: 1;
  background-color: var(--green);
  color: var(--white);
  display: grid;
  grid-template-columns: 60% 40%;
  padding: 3rem;
  overflow: hidden;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1,
    h2 {
      color: var(--white);
    }

    p {
      color: var(--cream);
      margin-bottom: 1rem;
      font-size: 0.9rem;
    }

    .topContent {
      display: grid;
      grid-template-columns: 70% 30%;

      h2 {
        font-size: 3rem;

        span {
          color: #d68d41;
        }
      }
    }

    h1 {
      align-self: flex-start;
      display: flex;
      align-items: center;
      gap: 1rem;
      font-size: 6rem;
      font-family: "greatvibes";
      word-spacing: 1rem;
      margin-top: 2rem;
      span {
        height: 0.2rem;
        width: 4rem;
        background-color: var(--white);
      }
    }
  }

  .imageContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    position: relative;

    .tag {
      position: absolute;
      right: -4rem;
      top: -1rem;
      z-index: 9;
      width: 15rem;
      transform: rotate(10deg);
      transition: 0.3s all;
    }

    &:hover {
      .tag {
        transform: rotate(-20deg);
      }
    }
  }

  .imageGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    gap: 1rem;
    width: 100%;
    max-width: 900px;
  }

  .singleImg {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .doubleImg {
    grid-column: 1 / 3;
    grid-row: 2;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .imageCard {
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    height: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;

    &:hover {
      transform: translateY(-4px);
      box-shadow: 0 8px 14px rgba(0, 0, 0, 0.15);
    }

    :global(img) {
      object-fit: cover;
      padding: 0.25rem;
      background-color: var(--white);
      border-radius: 1rem;
    }
  }
}
