.container{
  background-color: var(--white);
  position: relative;
  padding: 2rem;

  h2{
    font-size: 6rem;
    font-family: 'greatvibes', sans-serif;
    word-spacing: 2rem;

    span{
      font-family: 'jungle';
      color: var(--green);
      font-size: 10rem;
      font-style: italic;
    }
  }

  .partySection{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;

    h1{
      font-size: 5rem;
      font-family: 'greatvibes';
    }

    p{
      font-size: 1.1rem;

      span{
        font-family: 'jungle';
        font-size: 2rem;
        color: var(--green);
        font-weight: 900;
      }
    }
  }
}