.container {
  position: relative;
  background-color: #0a2316;
  background-color: var(--green);
  padding-bottom: 5rem;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;

  .waveSection {
    position: relative;
    padding: 6rem 2rem;
    top: -2rem;
    z-index: 999;
    background-color: var(--green);
  }

  .wave {
    position: absolute;
    top: -0rem;
    left: 0;
    width: 100%;
    height: 120px;
    background-color: var(--green);
  }

  .awardsSection {
    padding: 0 6rem;
    color: #f5f1e8;
  }

  .awardsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;

    h2 {
      font-size: 3rem;
      color: var(--white);
    }

    p {
      max-width: 400px;
      font-size: 0.9rem;
      letter-spacing: 1px;
      text-transform: uppercase;
      opacity: 0.8;
      color: var(--cream);
    }
  }

  .awardsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .card {
    background: #e7d6c8;
    padding: 2rem;
    border-radius: 0.75rem;
    color: #0a2316;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 240px;
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;

    svg {
      width: 2.25rem;
      height: 2.25rem;
    }

    h3 {
      font-size: 1.3rem;
      margin-bottom: 1rem;
      color: var(--green);
      font-weight: 700;
    }

    p {
      font-size: 0.9rem;
      line-height: 1.5;
      margin-bottom: 2rem;
      color: var(--palegreen);
    }

    span {
      font-size: 0.75rem;
      letter-spacing: 1px;
      font-weight: 900;
      color: var(--green);
    }

    &:hover {
      transform: translateY(-6px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
  }

  .highlightCard1 {
    background: var(--blue);
  }

  .highlightCard {
    background: #c49386;
  }
}
