@use "tailwindcss";

@font-face {
  font-family: "jungle";
  src: url("/fonts/jungle.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "playfair";
  src: url("/fonts/playfair.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "popins";
  src: url("/fonts/popins.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "greatvibes";
  src: url("/fonts/greatvibes.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

:root {
  --green: #092c19;
  --palegreen: #697768;
  --white: #ffece3;
  --cream: #ddc3c4;
  --brown:#663c35;
  --blue:#bfcab9;
  --pink:#d19f96;
}

@media (prefers-color-scheme: dark) {
  :root {
    --white: #ffffff;
    --black: #000000;
  }
}

body {
  font-family: "popins", sans-serif;
  font-optical-sizing: auto;
}

h1,
h2,
h3,
h4 {
  color: var(--green);
  font-family: "playfair", serif;
}

span,p{
  color: var(--palegreen);
}

button,
img,
svg {
  cursor: pointer !important;
}
